{% extends "layout/basic.html" %}

{% block title %}{{ article.title }} - {{ article.city.name }}{% endblock %}

{% block content %}
<div class="container-fluid mt-3">
    <div class="row">
        <div class="col">
            <h2 class="text-center">{{ article.title }}</h2>
            {% if article.image %}
            <div class="col-md-auto">
                <img src="{{ article.image.url }}" align="right" hspace="10px" vspace="10px" width="500px">
            </div>
            {% endif %}
            <p>
                {{ article.content | linebreaks }}
            </p>
            <p class="text-right font-italic">Добавлено {{ article.created_at }}</p>
        </div>
    </div>
</div>
{% if ais %}
<div class="d-flex justify-content-between flex-wrap mt-5">
    {% for ai in ais %}
    <div>
        <img class="additional-image" src="{{ ai.image.url }}"  width="180px">
    </div>
    {% endfor %}
</div>
{% endif %}
{% if comments %}
<div class="mt-5">
    {% for comment in comments %}
    <div class="my-2 p-2 border">
        <h5>{{ comment.author }}</h5>
        <p>{{ comment.content | linebreaks }}</p>
        <p class="text-right font-italic">{{ comment.created_at }}</p>
    </div>
    {% endfor %}
</div>
{% endif %}
<p>
    <a href="{% url 'main:profile' %}{{ all }}">Назад</a>
</p>
{% endblock %}
